.productTitle h1 {
    font-size: 32px;
    font-weight: 500;
    color: #49412F;
}
.productPrice {
    font-size: 18px;
    color: #000000;
}
.selectOptionContainer {
    display: flex;
    border: 2px solid #3b2d1f;
    margin: 20px;
}
.selectOptionContainer .sidebar {
    display: flex;
    flex-direction: column;
    width: 160px;
    border-right: 2px solid #3b2d1f;
    background-color: #ffffff;
    margin-right: 0;
  }
.selectOptionContainer .sidebarItem {
    font-size: 14px;
    cursor: pointer;
    color:#49412F;
    border-bottom: 1px solid #49412F;
    padding: 10px;
}
.selectOptionContainer .sidebarItem.active{
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    background-color:#49412F;
    color: #FFF8ED;
}
.selectOptionContainer .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
    padding: 20px;
    flex: 1;
  }
.selectOptionContainer .gridItem {
    border: 1px solid #49412F;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background-color: #fff;
    transition: 'background 0.3s';
    padding: 10px;
    text-align: center;
  }
