.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}
.searchResultContainer{
  padding: 0 55px;
}
.totalProducts--layout{
  padding-top: 5px;
}
.totalProducts--layout,.orderByButton {
  padding-top: 0;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
  padding-bottom: 10px;
}
.filter__container--priceRange {
  display: none;
}

.galleryTitle--layout {
  text-transform: capitalize;
  font-weight: 400;
}
.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}
